<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="announcement__fone">
<%- include('header.ejs'); %>
<main class="announcement container">
    <%- include('breadcrumb.ejs'); %>
    <%- include('promo.ejs'); %>
    <section class="announcement__showcase">
        <%- include('cardVebinar.ejs'); %>
        <%- include('cardVebinar.ejs'); %>
        <%- include('cardVebinar.ejs'); %>
        <%- include('cardVebinar.ejs'); %>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>