<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="audio__fone">
<%- include('header.ejs'); %>
<main>
    <section class="container">
        <%- include('breadcrumb.ejs'); %>
        <div class="audio">
            <div class="audio__top">
                <div class="audio__top-left">
                    <div class="audio__top-leftHeading">НОВЫЕ ПОДХОДЫ</div>
                    <div class="audio__top-leftText">к оптимизации терапии гриппа и ОРВИ</div>
                    <div class="audio__top-leftSticker">#Слушать</div>
                </div>
                <div class="audio__top-right">
                    <img class="audio__top-rightImg" src="./img/ava-2.png" alt="img">
                    <div class="audio__top-rightBlock">
                        <div class="audio__top-rightHeading">Фамилия Имя Отчество</div>
                        <div class="audio__top-rightText">д.м.н., профессор</div>
                    </div>
                    <div class="audio__top-rightSticker">#Эксперт</div>
                </div>
            </div>
        </div>
        <audio controls class="audio__audio">
            <source src="" />
        </audio>
        <div class="audio__heading">Информация о видео</div>
        <div class="audio__headline">Фамилия Имя Отчество</div>
        <div class="audio__textMini">
            д.м.н., профессор, заслуженный врач РФ, заведующий кафедрой поликлинической и неотложной педиатрии,
            руководитель научно-образовательного инновационного центра «Неотложные состояния в педиатрии» РНИМУ им
            Н. А. Пирогова, научный руководитель Детского медицинского центра, главный внештатный консультант по
            педиатрии ГМУ Управления Делами Президента РФ
        </div>
        <div class="audio__text">
            Богемная, вечно не спящая Покровка! Предлагаем пройтись вдоль неё по тайной тропинке, скрытой от
            посторонних глаз. Вы прогуляетесь по тихим московским дворикам, куда редко забредают туристы, и увидите
            настоящую заповедную Москву, оставаясь при этом в центре. Пикантности добавит интересный квест средней
            сложности. Стартуем от знаменитых Чистых прудов с их привлекательными окрестностями!<br><br>
            Ведь гораздо интереснее не просто бесцельно бродить, а отгадывать загадки, правда? А ответить вам придётся
            на множество вопросов…
        </div>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>