<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="calculator__fone">
<%- include('header.ejs'); %>
<main class="calculator container">
    <%- include('breadcrumb.ejs'); %>
    <%- include('promo.ejs'); %>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>