<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="instructions__fone">
<%- include('header.ejs'); %>
<main class="instructions">
    <%- include('promo.ejs'); %>
    <section class="instructions__showcase container">
        <div class="instructions__card">
            <div class="instructions__card-top">
                <img class="instructions__card-img" src="./img/instructions-card.png" alt="img">
            </div>
            <div class="instructions__card-bottom">
                <div class="instructions__card-headline">форма выпуска</div>
                <div class="instructions__card-heading">Краткое описание:
                    для чего, с какого возраста </div>
                <div class="instructions__card-buttons">
                    <button class="instructions__card-btn btn-primary">Узнать больше</button>
                    <button class="instructions__card-btn btn-primary">Посмотреть PDF</button>
                </div>
            </div>
        </div>
        <div class="instructions__card">
            <div class="instructions__card-top">
                <img class="instructions__card-img" src="./img/instructions-card-2.png" alt="img">
            </div>
            <div class="instructions__card-bottom">
                <div class="instructions__card-headline">форма выпуска</div>
                <div class="instructions__card-heading">Краткое описание:
                    для чего, с какого возраста </div>
                <div class="instructions__card-buttons">
                    <button class="instructions__card-btn btn-primary">Узнать больше</button>
                    <button class="instructions__card-btn btn-primary">Посмотреть PDF</button>
                </div>
            </div>
        </div>
        <div class="instructions__card">
            <div class="instructions__card-top">
                <img class="instructions__card-img" src="./img/instructions-card-3.png" alt="img">
            </div>
            <div class="instructions__card-bottom">
                <div class="instructions__card-headline">форма выпуска</div>
                <div class="instructions__card-heading">Краткое описание:
                    для чего, с какого возраста </div>
                <div class="instructions__card-buttons">
                    <button class="instructions__card-btn btn-primary">Узнать больше</button>
                    <button class="instructions__card-btn btn-primary">Посмотреть PDF</button>
                </div>
            </div>
        </div>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>