<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body>
<%- include('header.ejs'); %>
<main class="recommendations">
    <%- include('promo.ejs'); %>
    <section class="recommendations__block container">
        <div class="recommendations__accordion">
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Аутоиммунный гепатит у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Болезнь Гоше у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Бронхолегочная дисплазия</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Бронхоэктазы у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Гастроэзофагеальная рефлюксная болезнь у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Гематурия у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Гранулематоз Вегенера</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
            <div class="recommendations__accordion-item">
                <div class="recommendations__accordion-heading">Гипоспадия у детей</div>
                <button class="recommendations__accordion-btn btn-primary"><img src="./img/arrow.svg" alt="img"></button>
            </div>
        </div>
        <button class="recommendations__accordion-button">
            Показать больше
            <img class="recommendations__accordion-img" src="./img/arrow-down.svg" alt="img">
        </button>
        <div class="shadow"></div>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>