<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body>
<%- include('header.ejs'); %>
<main class="valuable">
    <%- include('promo.ejs'); %>
    <section class="valuable__showcase container">
        <div class="valuable__show">
            <div class="valuable__item">
                <div class="valuable__item-left"></div>
                <div class="valuable__item-right">
                    <div class="valuable__item-block">
                        <div class="valuable__item-headline">тема</div>
                        <div class="valuable__item-heading">Сухой кашель: очевидные и неочевидные причины</div>
                        <div class="valuable__item-text">Вебинар — онлайн-трансляция с целью обучения или корпоративной встречи. Если еще проще сказать, что означает слово «вебинар».</div>
                    </div>
                    <button class="valuable__item-btn btn-primary">
                        <img class="valuable__item-img" src="./img/arrow-2.svg" alt="img">
                    </button>
                </div>
            </div>
            <div class="valuable__item">
                <div class="valuable__item-left"></div>
                <div class="valuable__item-right">
                    <div class="valuable__item-block">
                        <div class="valuable__item-headline">тема</div>
                        <div class="valuable__item-heading">Сухой кашель: очевидные и неочевидные причины</div>
                        <div class="valuable__item-text">Вебинар — онлайн-трансляция с целью обучения или корпоративной встречи. Если еще проще сказать, что означает слово «вебинар».</div>
                    </div>
                    <button class="valuable__item-btn btn-primary">
                        <img class="valuable__item-img" src="./img/arrow-2.svg" alt="img">
                    </button>
                </div>
            </div>
            <div class="valuable__item">
                <div class="valuable__item-left"></div>
                <div class="valuable__item-right">
                    <div class="valuable__item-block">
                        <div class="valuable__item-headline">тема</div>
                        <div class="valuable__item-heading">Сухой кашель: очевидные и неочевидные причины</div>
                        <div class="valuable__item-text">Вебинар — онлайн-трансляция с целью обучения или корпоративной встречи. Если еще проще сказать, что означает слово «вебинар».</div>
                    </div>
                    <button class="valuable__item-btn btn-primary">
                        <img class="valuable__item-img" src="./img/arrow-2.svg" alt="img">
                    </button>
                </div>
            </div>
            <div class="valuable__item">
                <div class="valuable__item-left"></div>
                <div class="valuable__item-right">
                    <div class="valuable__item-block">
                        <div class="valuable__item-headline">тема</div>
                        <div class="valuable__item-heading">Сухой кашель: очевидные и неочевидные причины</div>
                        <div class="valuable__item-text">Вебинар — онлайн-трансляция с целью обучения или корпоративной встречи. Если еще проще сказать, что означает слово «вебинар».</div>
                    </div>
                    <button class="valuable__item-btn btn-primary">
                        <img class="valuable__item-img" src="./img/arrow-2.svg" alt="img">
                    </button>
                </div>
            </div>
        </div>
        <button class="valuable__btn">
            Открыть больше
            <img class="valuable__btn-img" src="./img/arrow-down.svg" alt="img">
        </button>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>