<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="VideoAudio__fone">
<%- include('header.ejs'); %>
<main class="VideoAudio">
    <%- include('promo.ejs'); %>
    <section class="container">
        <div class="VideoAudio__nav">
            <div class="VideoAudio__nav-btn VideoAudio__nav-btn--active btn-secondary">Все</div>
            <div class="VideoAudio__nav-btn btn-secondary">Видео</div>
            <div class="VideoAudio__nav-btn btn-secondary">Аудио</div>
        </div>
        <div class="VideoAudio__showcase">
            <div class="VideoAudio__showcase-top" id="carousel">
                <div>
                    <%- include('cardVideo.ejs'); %>
                </div>
                <div>
                    <%- include('cardAudio.ejs'); %>
                </div>
                <div>
                    <%- include('cardVideo.ejs'); %>
                </div>
                <div>
                    <%- include('cardAudio.ejs'); %>
                </div>
                <div>
                    <%- include('cardVideo.ejs'); %>
                </div>
                <div>
                    <%- include('cardAudio.ejs'); %>
                </div>
            </div>
        </div>
        <div class="VideoAudio__shadow">
            <button class="VideoAudio__btn">
                Открыть больше
                <img class="VideoAudio__btn-img" src="./img/arrow-down.svg" alt="v">
            </button>
        </div>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>