<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body>
<%- include('header.ejs'); %>
<main class="video__fone">
    <section class="container">
        <%- include('breadcrumb.ejs'); %>
        <div class="video">
            <div class="video__top">
                <div class="video__top-left">
                    <div class="video__top-leftHeading">Сухой кашель:</div>
                    <div class="video__top-leftText">очевидные и неочевидные причины</div>
                    <div class="video__top-leftSticker">#Смотреть</div>
                </div>
                <div class="video__top-right">
                    <img class="video__top-rightImg" src="./img/ava-2.png" alt="img">
                    <div class="video__top-rightBlock">
                        <div class="video__top-rightHeading">Фамилия Имя Отчество</div>
                        <div class="video__top-rightText">д.м.н., профессор</div>
                    </div>
                    <div class="video__top-rightSticker">#Эксперт</div>
                </div>
            </div>
        </div>
        <video controls class="video__video">
            <source src="" />
        </video>
        <div class="video__heading">Информация о видео</div>
        <div class="video__headline">Фамилия Имя Отчество</div>
        <div class="video__textMini">
            д.м.н., профессор, заслуженный врач РФ, заведующий кафедрой поликлинической и неотложной педиатрии,
            руководитель научно-образовательного инновационного центра «Неотложные состояния в педиатрии» РНИМУ им
            Н. А. Пирогова, научный руководитель Детского медицинского центра, главный внештатный консультант по
            педиатрии ГМУ Управления Делами Президента РФ
        </div>
        <div class="video__text">
            Богемная, вечно не спящая Покровка! Предлагаем пройтись вдоль неё по тайной тропинке, скрытой от
            посторонних глаз. Вы прогуляетесь по тихим московским дворикам, куда редко забредают туристы, и увидите
            настоящую заповедную Москву, оставаясь при этом в центре. Пикантности добавит интересный квест средней
            сложности. Стартуем от знаменитых Чистых прудов с их привлекательными окрестностями!<br><br>
            Ведь гораздо интереснее не просто бесцельно бродить, а отгадывать загадки, правда? А ответить вам придётся
            на множество вопросов…
        </div>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>