<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body>
<%- include('header.ejs'); %>
<main>
    <section class="video container">
        <ul class="breadcrumb">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Видео и аудио</a></li>
            <li><a href="#">Сухой кашель: очевидные и неочевидные причины</a></li>
        </ul>
    </section>
    <%- include('subscription.ejs'); %>
    <%- include('info.ejs'); %>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>